* {
    margin: 0;
}


div {
    background-color: #f11;
    color: #fef5d2;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

//main{
//height: 100vh;
//background-color: #eee;
//display: grid;
//grid-template-columns: 100px 100px 100px;
//grid-template-rows: 100px 100px 100px;
//gap: 5px;
//justify-content: space-around;
//align-content: space-around;
//}

main {
    height: 100vh;
    background-color: #fef5d2;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

div:nth-child(5){
    background-color: #00f;
    align-self: end ;
    justify-self: end;
}